		
<my-panel title="Tags" show-add-button="true" add="vm.create()" style="success" icon="tags" icon-size="2">
 <my-filter-textbox  ng-model="filter"></my-filter-textbox>
<table class="table table-striped">

    <thead>
        <tr>
             <td>Id</td>
<td>Name</td>
        </tr>
    </thead>

    <tr  ng-repeat='organisation in vm.organisations '>
        <td>{{ organisation.id }}</td>
<td>{{ organisation.name }}</td>
        <td><div class="btn btn-success" ng-click='vm.edit(contact)'>Edit</div></td>
    </tr>
</table>


       


