		
<my-panel title="Tags" show-add-button="true" add="vm.create()" style="success" icon="tags" icon-size="2">
 <my-filter-textbox  ng-model="filter"></my-filter-textbox>
<table class="table table-striped">

    <thead>
        <tr>
             <td>Id</td>
<td>FirstName</td>
<td>LastName</td>
        </tr>
    </thead>

    <tr  ng-repeat='contact in vm.contacts '>
        <td>{{ contact.id }}</td>
<td>{{ contact.firstName }}</td>
<td>{{ contact.lastName }}</td>
        <td><div class="btn btn-success" ng-click='vm.edit(contact)'>Edit</div></td>
    </tr>
</table>


       


